/*
    estilizar uma tag
    estilizar uma classe
    estilizar um identificador
*/

body{
    background-color: black;
}
.para_azul{
    color: blue;
}
#topo{
    background-color: green;
    width: 1852px;
    height: 160px;
    border:2px solid red;
}
#media_busca{
    background-color: #3f3f3f;
    width: 100%;
    height: 52px;
}
#logo_menu{
    background-color: #ffffff;
    width: 100%;
    height: 52px;
}