{% extends 'noticias/base.html' %}  <!--DTL - Django Template Language -->
{% load static  %}  <!--DTL - Django Template Language -->
{% block content %}

<div id="site">

    <div id="area">
        <div id="slideshow">
            aqui é o slideshow
        </div>
        <div id="noticias">
            {% for info in cards %}

                    <!---- primeira noticia---->
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="//e.snmc.io/i/300/s/53b9d260830a9f0f3d53316351ffa27c/10215530"
                                     class="img-fluid rounded-start" alt="Bruce Springsteen - Born in the U.S.A.">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ info.nome }}</h5>
                                    <p class="card-text"></p>
                                    <p class="card-text"><small class="text-body-secondary"></small></p>
                                </div>
                            </div>
                        </div>
                    </div> <!---- fim da primeira noticia---->
            {% endfor %}
        </div>

        <div id="juridico">
            aqui é o juridico
        </div>
        <div id="beneficios">
            aqui é os beneficios
        </div>
        <div id="nota_apesar">
            aqui é o nota apesar
        </div>
        <div id="tv_sindcode">
            aqui é a tv sindcode
        </div>
    </div>
</div>
{% endblock %}