<!DOCTYPE>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sindcode 0.2</title>
    <!---Introdução ao DTL (Django Template Language)--->
    <link rel="stylesheet" href="{% static '/styles/style.css'%}">
</head>
<body>

    <div id="site">
        <header id="topo">
            <div id="media_busca">
                aqui são midias e a busca
            </div>
            <div id="logo_menu">
                aqui é o logo do menu
            </div>
        </header>
        <div id="area">
            <div id="slideshow">
                aqui é o slideshow
            </div>
            <div id="noticias">
                aqui são as noticias
            </div>
            <div id="juridico">
                aqui é o juridico
            </div>
            <div id="beneficios">
                aqui é os beneficios
            </div>
            <div id="nota_apesar">
                aqui é o nota apesar
            </div>
            <div id="tv_sindcode">
                aqui é a tv sindcode
            </div>
        </div>
        <div id="rodape">
            aqui é o rodape

        </div>

    </div>

</body>
</html>